<div class="flex flex-col items-center">
    <div class="flex flex-col items-center m-8 gap-3">
            <span class="text-7xl">Luiz Miguel</span>
            <span class="text-3xl">Dev. FullStack</span>
            <div>
                 <span class="w-[2rem] break-words">Especializado em tecnologias como React.JS, Next.JS, TypeScript e Ruby on Rails (Ruby). Tenho como objetivo aprender e dominar as últimas tecnologias do mercado, buscando sempre inovações que possam beneficiar a empresa e agregar valor aos projetos. Além disso, possuo sólida experiência na aplicação de metodologias ágeis, como Kanban, para otimizar processos e garantir a organização e eficiência no desenvolvimento de projetos.</span>
            </div>
    </div>
</div>