<div class="flex flex-row  justify-evenly gap-4 border-2 border-gray-300 p-4 rounded-lg w-[30%]">
    <%= image_tag("rails.png", size: "64x64",alt: "Rails Logo")%>
    <%= image_tag("next.png", size: "64x64", alt: "Next Logo")%>
</div>